@font-face {
  font-family: "rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "rubik", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  color: #000;
  background-color: #fff;
}

a {
  color: #000;
  text-decoration: none;
  text-transform: capitalize;
}

h1 {
  font-family: "raleway", "Verdana", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 1;
}

p {
  color: #444;
}

.main-container{
  flex-grow: 1;
  margin: 0 auto;
  width: 1160px;
}

.page-header {
  background-color: #FFE17F;
  display: flex;
  width: 1160px;
  margin: 0 auto;
}

.logo {
  background-image: url(../img/logo-device-gold.svg);
  color: #000;
  display: block;
  margin-left: auto;
}

.search {
  font-size: 16px;
  line-height: 1.2;
  opacity: 0.3;
  width: 359px;
}

.button-search {
  font-size: 16px;
  line-height: 1.2;
  width: 160px;
}

.user-navigation {
  width: 500px;
  margin-left: auto;
}

.catalog-link-main {
  font-family: "raleway", "Verdana", sans-serif;
  line-height: 1.1;
  text-transform: uppercase;
  margin-right: auto;
}

.catalog-item {
  font-size: 16px;
  line-height: 1.1;
  margin: 0;
  padding: 0;
}

.navigation-link {
  font-family: "raleway", "Verdana", sans-serif;
  line-height: 1.1;
  text-transform: uppercase;
  width: 500px;
  margin-left: auto;
}

.button-gold {
  font-family: "raleway", "Verdana", sans-serif;
  line-height: 1.1;
  text-align: center;
  text-transform: uppercase;
}

.gallery {
  display: flex;
  justify-content: space-between;
  padding: 0 140px;
}

.characteristic {
  font-size: 16px;
  line-height: 1.8;
}

.dimension {
  font-size: 36px;
  line-height: 0.8;
}

.catalog-link {
  font-family: "raleway", "Verdana", sans-serif;
  font-size: 18px;
  line-height: 1.3;
  display: flex;
  justify-content: space-between;
  width: 160px;
}

.container-info {
  display: flex;
  justify-content: space-between;
  padding: 0 140px;
}

.button-info {
  width: 290px;
}

.information {
  width: 480px;
}

.button-delivery {
  font-family: "raleway", "Verdana", sans-serif;
  font-size: 20px;
  line-height: 1.1;
  text-align: center;
  text-transform: uppercase;
  background-color: #F0F0F0;
  width: 1160px;
}

.about{
  width: 520px;
}

.contacts {
  width: 530px;
}

.delivery-item {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

.contacts-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  color: #444
}

.contacts-phone {
  text-decoration: underline;
}

.subscribe {
  background-color: #F0F0F0;
  width: 100%;
}

.subscribe-title {
  width: 350px;
}

.subscribe-text {
  width: 560px;

}

.subscribe-form {
  width: 810px;
  opacity: 0.5;
}

.subscribe-button {
  font-family: "raleway", "Verdana", sans-serif;
  font-size: 18px;
  line-height: 1.1;
  text-transform: uppercase;
}

.page-footer {
  background-color: #444;
  color: #fff;
  display: flex;
  width: 100%;
  margin: 0 auto;
}

.footer-social {
  width: 240px;
}

.logo {
  background-image: url(../img/logo-device-gold.svg);
}

.footer-link {
  width: 445px;
}

.button-footer {
  font-family: "raleway", "Verdana", sans-serif;
  font-size: 18px;
  line-height: 1.1;
  text-transform: uppercase;
  color: #FFF;
}

.button-social {
  background-image: url();
}

.footer-contact {
  width: 175;
}

.contacts-phone {
  text-decoration: underline;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 1.2;
}

.main-inner {
  font-size: 16px;
  line-height: 1.2;
  color: #000;
  background-color: #F0F0F0;
}

.text-filter {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.1;
}

.product-list {
  background-color: #fff;
}

.title-product {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.1;
}

.price {
  font-size: 18px;
  line-height: 1.1;
  text-align: right;
  color: #444;
}

.pagination-prev {
  font-family: 'Raleway', "Verdana", sans-serif;
  font-size: 18px;
  line-height: 1.1;
  text-transform: uppercase;
  color: #444;
}

.pagination-link {
  font-size: 16px;
  line-height: 1.2;

}
